<div class="container">
  <div style="padding-left: 60px; padding-right: 60px;" class="row justify-content-around">
    <div style="height: 300px;" class="col-sm-7 border border-light border-0">
      <p></p>
      <p class="h3 text-center">Ultimas Rendas Adicionados</p>
      <table width="100%" class="table table-hover text-center">
        <thead>
          <tr class="text-center">
            <th>Titulo</th>
            <th>Valor</th>
            <th>Descricao</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center" *ngFor="let renda of rendasLast">
            <td>{{renda.titulo}}</td>
            <td>{{renda.valor | currency: 'R$ '}}</td>
            <td>
              <button *ngIf="renda.tipo == 0" class="btn btn-success">Mensal</button>
              <button *ngIf="renda.tipo == 1" class="btn btn-secondary">Diaria</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div style=" margin-top: 10px; background-image: url(../../assets/imgFundo.png);"
      class="col-sm border-dark rounded painelValores">
      <div class="row" style=" min-width: 100px ;height: 210px; margin-top: 11px; " class="rounded">
        <div class="row">
          <div class="col-sm">
            <div style="height: 100px; text-align: center; " class="">
              <div style="margin-top: 15px; background-color: #d6d3d3;" class="border border-dark rounded">
                <p style="height: 25px;" class="h6 bg-success border border-secondary rounded">Renda Bruta</p>
                <p class="h4 text-success">{{valorespainel.rendaBruta | currency: 'R$ '}}</p>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div style="height: 100px; text-align: center; " class="">
              <div style="margin-top: 15px; background-color: #d6d3d3;" class="border border-dark rounded">
                <p style="height: 25px;" class="h6 bg-success border border-secondary rounded">Dividas Paga</p>
                <p class="h4 text-success">{{valorespainel.valorTotalDividasPagas | currency: 'R$ '}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <div style="height: 100px; text-align: center;" class="">
              <div style="margin-top: 15px; background-color: #d6d3d3;" class="border bg border-dark rounded">
                <p *ngIf="valorespainel.rendaLiquida < 0" style="height: 25px;" class="h6 bg-danger border border-danger rounded"><i class="fas fa-arrow-down"></i>&nbsp;Renda Liquida</p>
                <p *ngIf="valorespainel.rendaLiquida > 0"  style="height: 25px;" class="h6 bg-success border border-secondary rounded"><i class="fas fa-arrow-up"></i>&nbsp; Renda Liquida</p>
                <p *ngIf="valorespainel.rendaLiquida == 0"  style="height: 25px;" class="h6 bg-success border border-secondary rounded"><i class="fas fa-pause" aria-hidden="true"></i>&nbsp; Renda Liquida</p>
                <p *ngIf="valorespainel.rendaLiquida >= 0" class="h4 text-success">{{valorespainel.rendaLiquida | currency: 'R$ '}}</p>
                <p *ngIf="valorespainel.rendaLiquida < 0" class="h4 text-danger">{{valorespainel.rendaLiquida | currency: 'R$ '}}</p>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div style="height: 100px; text-align: center;" class="">
              <div style="margin-top: 15px; background-color: #d6d3d3;" class="border bg border-dark rounded">
                <p style="height: 25px;" class="h6 bg-danger border border-secondary rounded"><i class="fas fa-clock"></i>&nbsp; Dividas Pendentes</p>
                <p class="h4 text-danger">{{valorespainel.valorTotalDividasPendentes | currency: 'R$ '}}</p>
              </div>
            </div>
          </div>
        </div>
        <form>
          <div style="width: 260px; position: absolute; bottom: 5px; left: 5px;" class="buscar">
            <input [(ngModel)]="filtroLista" type="search" name="busca" class="form-control text-center" placeholder="Pesquisar">
          </div>
        </form>
        <div style="width: 135px; position: absolute; bottom: 5px; right: 6px;" class="newItens">
          <button class="btn btn-success text-center" (click)="inserir(insertAndUpdate)">Novo Usuario</button>
        </div>
      </div>
    </div>




    <div style="background-color: #f0efef;" class="container">


      <table width="100%" class="table table-hover text-left">
        <thead>
          <tr>
            <th>Titulo</th>
            <th>Valor</th>
            <th>Descricao</th>
            <th class="text-center">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let renda of rendasFiltradas | paginate: { itemsPerPage: itensPorPage, currentPage: pageAtual }">
            <td>{{renda.titulo}}</td>
            <td>{{renda.valor | currency: 'R$ '}}</td>
            <td>{{renda.descricao}}</td>
            <td class="text-center">
              <div class="btn-group">
                <button class="btn btn-secondary btn-sm" (click)="editar(insertAndUpdate , renda)">
                  <i class="fa fa-edit" aria-hidden="true"></i>&nbsp; Editar
                </button>
                <button class="btn btn-info btn-sm" (click)="detalhes(details, renda)">
                  <i class="fas fa-info"></i>&nbsp; Detalhes
                </button>
                <button class="btn btn-danger btn-sm" (click)="confirmeDelete(modalDelete, renda)">
                  <i class="fa fa-trash" aria-hidden="true"></i>&nbsp; Deletar
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
      <div style="width: 370px; height: 30px; ;margin-top: 10px;" class="">
        <pagination-controls (pageChange)="pageAtual = $event" previousLabel="Anterior"
        nextLabel="Proximo"
        ></pagination-controls>
    </div>
  </div>

  <div class="my-container">
    <ng-template #customLoadingTemplate>
        <div class="custom-class">
            <h3>
                Loading...
            </h3>
        </div>
    </ng-template>
      
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>

<!-- Insert And Update -->
<div
bsModal
#insertAndUpdate="bs-modal"
class="modal fade"
tabindex="-1"
role="dialog"
aria-labelledby="dialog-sizes-name1"
>
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 id="dialog-sizes-name1" class="modal-title pull-left">
        {{tituloModal}}
      </h4>
      <button
        type="button"
        class="close pull-right"
        (click)="insertAndUpdate.hide()"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="form">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Titulo</label>
            <input
              autofocus
              type="text"
              [ngClass]="{
                'is-invalid':
                  form.get('titulo').errors && form.get('titulo').touched
              }"
              class="form-control"
              formControlName="titulo"
              placeholder="Titulo"
            />
            <div
              *ngIf="
                form.get('titulo').hasError('required') &&
                form.get('titulo').touched
              "
              class="invalid-feedback"
            >
              Campo Obrigatório
            </div>
            <div
              *ngIf="
                form.get('titulo').hasError('minlength') &&
                form.get('titulo').touched
              "
              class="invalid-feedback"
            >
              Campo deve ter entre 2 a 80 caracteres
            </div>
            <div
              *ngIf="
                form.get('titulo').hasError('maxlength') &&
                form.get('titulo').touched
              "
              class="invalid-feedback"
            >
              Campo deve ter entre 2 a 80 caracteres
            </div>
          </div>
          <div class="form-group col-md-6">
            <label>Data Renda</label>
            <input
              type="datetime-local"
              [ngClass]="{
                'is-invalid':
                  form.get('dataRenda').errors && form.get('dataRenda').touched
              }"
              class="form-control"
              formControlName="dataRenda"
              placeholder="Data da Renda"
            />
            <div
              *ngIf="
                form.get('dataRenda').hasError('required') &&
                form.get('dataRenda').touched
              "
              class="invalid-feedback"
            >
              Campo Obrigatório
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Valor</label>
            <input
              type="number"
              [ngClass]="{
                'is-invalid':
                  form.get('valor').errors && form.get('valor').touched
              }"
              class="form-control"
              formControlName="valor"
              placeholder="Valor"
            />
            <div
              *ngIf="
                form.get('valor').hasError('required') &&
                form.get('valor').touched
              "
              class="invalid-feedback"
            >
              Campo Obrigatório
            </div>
          </div>
          <div class="form-group col-md-6">
            <label>Tipo Renda</label>
            <select
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  form.get('tipo').errors && form.get('tipo').touched
              }"
              formControlName="tipo"
            >
              <option value="1">Diaria</option>
              <option value="0">Mensal</option>
            </select>
            <div
              *ngIf="
                form.get('tipo').hasError('required') &&
                form.get('tipo').touched
              "
              class="invalid-feedback"
            >
              Campo Obrigatório
            </div>
            <div
              *ngIf="
                form.get('tipo').hasError('max') &&
                form.get('tipo').touched
              "
              class="invalid-feedback"
            >
              Valor Maximo e 1.
            </div>
            <div
              *ngIf="
                form.get('tipo').hasError('min') &&
                form.get('tipo').touched
              "
              class="invalid-feedback"
            >
              Valor Minimo e 0.
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Descrição</label>
            <textarea [ngClass]="{'is-invalid': form.get('descricao').errors && form.get('descricao').touched}"
              class="form-control" formControlName="descricao" placeholder="Descrição"></textarea>
            <div *ngIf="form.get('descricao').hasError('required') && form.get('descricao').touched"
              class="invalid-feedback">
              Campo Obrigatório
            </div>
          </div>
        </div>
        <div style="display: none;" class="form-row">
          <div class="form-group col-md-12">
            <input type="hidden" formControlName="userId">
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer d-flex">
      <button class="btn btn-secondary" (click)="insertAndUpdate.hide()">
        Fechar
      </button>
      <button
        class="btn btn-primary ml-auto"
        [disabled]="!form.valid"
        (click)="salvarAlteracao(insertAndUpdate)"
      >
        Salvar Alterações
      </button>
    </div>
  </div>
</div>
</div>

<!-- Detalhes -->
<div
bsModal
#details="bs-modal"
class="modal fade"
tabindex="-1"
role="dialog"
aria-labelledby="dialog-sizes-name1"
>
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 id="dialog-sizes-name1" class="modal-title pull-left">
        Detalhes
      </h4>
      <button
        type="button"
        class="close pull-right"
        (click)="details.hide()"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="form">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Titulo</label>
            <input
              autofocus
              type="text"
              [ngClass]="{
                'is-invalid':
                  form.get('titulo').errors && form.get('titulo').touched
              }"
              class="form-control"
              formControlName="titulo"
              placeholder="Titulo"
            />
          </div>
          <div class="form-group col-md-6">
            <label>Data Renda</label>
            <input
              type="datetime-local"
              [ngClass]="{
                'is-invalid':
                  form.get('dataRenda').errors && form.get('dataRenda').touched
              }"
              class="form-control"
              formControlName="dataRenda"
              placeholder="Data da Renda"
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Valor</label>
            <input
              type="number"
              [ngClass]="{
                'is-invalid':
                  form.get('valor').errors && form.get('valor').touched
              }"
              class="form-control"
              formControlName="valor"
              placeholder="Valor"
            />
          </div>
          <div class="form-group col-md-6">
            <label>Tipo Renda</label>
            <select
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  form.get('tipo').errors && form.get('tipo').touched
              }"
              formControlName="tipo"
            >
              <option value="1">Diaria</option>
              <option value="0">Mensal</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Descrição</label>
            <textarea [ngClass]="{'is-invalid': form.get('descricao').errors && form.get('descricao').touched}"
              class="form-control" formControlName="descricao" placeholder="Descrição"></textarea>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer d-flex">
      <button class="btn btn-secondary" (click)="details.hide()">
        Fechar
      </button>
    </div>
  </div>
</div>
</div>

<div class="modal fade" bsModal #modalDelete="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">Deletar Usuario</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalDelete.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Tem certeza que deseja excluir essa Renda?
        <p><strong>ID: &nbsp;</strong><br>{{renda.id}}</p><br>
        <p><strong>TITULO: &nbsp;</strong><br>{{renda.titulo | titlecase}}</p><br>
        <p><strong>VALOR: &nbsp;</strong><br>{{renda.valor | currency: 'R$ '}}</p><br>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" (click)="modalDelete.hide()">
          Não
        </button>
        <button class="btn btn-success ml-auto" (click)="deletar(modalDelete)">
          Sim
        </button>
      </div>
  </div>
</div>