<div *ngIf="logado()">
<nav  style="min-width: 1100px;" class="navbar navbar-expand navbar-dark bg-dark">
  <!--
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  -->
<div style="color: #FFFFFF; margin-left: 2px;">
  <span style="font-size:20px;cursor:pointer;" (click)="abrirMenu()" >&#9776; Menu</span>
</div>
      <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link">CFD</a>
          </li>
          <!--
          <li class="nav-item active">
            <a class="nav-link">{{urlAtual}}</a>
          </li>
          -->
        </ul>
      </div>
      <div style="margin-right: 30px;">
      <ul class="navbar-nav">
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">
            {{nomeLogado() | titlecase}}
          </a>
          <div *dropdownMenu class="dropdown-menu aqui" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" style="cursor: pointer;">
              <i class="fa fa-user" aria-hidden="true"></i>&nbsp; Perfil
            </a>
            <div role="separator" class="divider"></div>
            <a class="dropdown-item" (click)="sair()" style="cursor: pointer;">
              <i class="fas fa-sign-out-alt" aria-hidden="true"></i>&nbsp; Sair
            </a>
          </div>
        </li>
      </ul>
    </div>
    </nav>
<div style="background-color: #343a40;" id="mySidenav" class="sidenav active teste">
  <div class="text-center">
    <a href="../pages/listUser.php">
      <img class="img-fluid" width="80" src="../../assets/linux.png">
    </a>
  </div>
  <a href="javascript:void(0)" class="closebtn" (click)="fecharMenu()">&times;</a>
  <br><br>
  <a  routerLink="divida" class="navDivida">
    <i class="fas fa-alarm-clock"></i>
    <i style="font-size: 24px;" class="fa fa-bell fa-lg" aria-hidden="true"></i>&nbsp;Dividas
  </a>
  <a  routerLink="renda">
    <i style="font-size: 24px;" class="fas fa-clock"></i>&nbsp;
    Rendas
  </a>
  <a *ngIf="papel() === '1'" routerLink="user">
    Usuarios
  </a>
</div>
</div>